body {
  padding: 20px;
  background-color: #eff2bf;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
form {
  text-align: center;
}

label {
  font-weight: bold;
}

#gridContainer {
  padding-bottom: 10px;
  margin: 0 auto;
}

table {
  background-color: #c5d6c6;
  border-spacing: 0;
  margin: 0 auto;
}

td {
  border: 1px solid #f1f5da;
  border-radius: 3px;
  width: 10px;
  height: 10px;
}

span {
  color: #222;
}

.controls {
  text-align: center;
  margin: 15px 0;
}

.start,
.clear,
.random,
.create {
  padding: 0.75em;
  border-radius: 5px;
  border: none;
  background: aquamarine;
}

td.dead {
  background-color: transparent;
}

td.live {
  background-color: #000;
}
